google-api-python-client
youtube-transcript-api
transformers
torch
sqlalchemy
google-auth
google-auth-oauthlib
google-auth-httplib2
pydub
yt-dlp
google-cloud-speech
pytube
assemblyai
sqlite3
streamlit
